@{
	ViewData["Title"] = "ContactUs";
	Layout = "ContactUs_Layout";
}

<div class="i_header">

	<div class="bp">
	</div>

</div>

<section class="footer_get_touch_outer">
	<div class="container">
		<div class="footer_get_touch_inner grid-70-30">

			<div class="colmun-70 get_form">
				<div class="get_form_inner">
					<div class="get_form_inner_text">
						<h3>About Us</h3>
					</div>
					<div class="context">
						<div class="f1">
							<p><b>Founder:</b></p>
							<p><b>Date created:</b></p>
							<p><b>Partner:</b></p>
							<p><b>Country:</b></p>
							<p><b>Introduction:</b></p>
						</div>
						<div class="f2">
							<p>Hoo</p>
							<p>2022/7/1</p>
							<p>Dog | Alin | Jack | Yuu</p>
							<p>Malaysia</p>
							<p>This is an online shopping website that allows people to easily buy and shop. We are still working hard to develop and thank you for your use.</p>
						</div>
					</div>
					<div class="grid-full">
						<a asp-area="" asp-controller="MySetting" asp-action="Setting"><input type="button" value="Back"></a>
					</div>
				</div>
			</div>
			<div class="colmun-30 get_say_form">
				<h5>Say Hi!</h5>
				<ul class="get_say_info_sec">
					<li class="n">
						<i class="fa fa-envelope"></i>
						<a href='mailto:wengchin123456@gmail.com' target="_blank">wengchin123456@gmail.com</a>
					</li>
					<li>
						<i class="fa-solid fa-mobile-screen-button"></i>
						<a href='tel:0164486909' target="_blank">+60 0164486909</a>
					</li>
					<li>
						<i class="fa-brands fa-whatsapp"></i>
						<a href='https://web.whatsapp.com/' target="_blank">Whatsapp</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

