* {
    margin: 0;
    padding: 0;
}

/*.bp {
    background: url(../Img/back1.png) no-repeat;
    background-size: cover;
    width: 100%;
}*/

/* sign up */
/*.bp .sg_container {
        width: 1000px;
        margin: auto;
        border-radius: 10px;
        position: relative;
        background: rgba(0,0,0,0.55);*/
/*  padding: 16rem;*/
/*}

.ba {
    padding: 20px 0;
}

.sg_container {
    padding: 2rem 8rem;
    user-select: none;
}

    .sg_container h1 {
        padding-bottom: 2rem;
    }

    .sg_container h5, h1 {
        color: white;
    }

    .sg_container h5 {
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
    }

    .sg_container input {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 15px 20px;
        font-size: 1rem;
        transition: all 0.3s;
    }

    .sg_container .spa {
        color: gold;
        display: block;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    .sg_container br {
        margin-bottom: 9rem;
    }

    .sg_container input:focus {
        color: black;*/
/*box-shadow: 0 0 20px lightskyblue, 0 0 60px lightskyblue;*/ /*lightseagreen*/
/*box-shadow: 0 0 20px lightseagreen, 0 0 60px lightseagreen;
    }

    .sg_container select {
        width: 100%;
        border: none;
        outline: none;
        padding: 15px 20px;
        margin-bottom: 2rem;
        font-size: 1rem;
        border-radius: 3px;
        color: black;
        font-weight: 600;
    }

        .sg_container select:focus {
            box-shadow: 0 0 20px lightseagreen, 0 0 60px lightseagreen;
        }*/

/*==================================================*/

/*.bp {
    background: url(../Img/back1.png) no-repeat;
    background-size: cover;
}*/

/* login */

/*.login_header {
    position: relative;
    user-select: none;
}

    .login_header img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100vh;
    }

    .login_header div {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100vh;
    }


@media screen and (max-width: 376px) {
    .bp {
        background: url(../Img/back1.png) no-repeat;
        background-size: cover;
        width: 200vh;
        height: 100px;
        background-size: cover;
        object-fit: cover;
    }*/

/* sign up */
/*.bp .sg_container {
            width: 1000px;
            margin: auto;
            border-radius: 10px;
            position: relative;
            background: rgba(0,0,0,0.55);*/
/*  padding: 16rem;*/
/*}

    .ba {
        padding: 20px 0;
    }

    .sg_container {
        padding: 2rem 8rem;
        user-select: none;
    }

        .sg_container h1 {
            padding-bottom: 2rem;
        }

        .sg_container h5, h1 {
            color: white;
        }

        .sg_container h5 {
            padding-bottom: 0.5rem;
            font-size: 1.5rem;
        }

        .sg_container input {
            width: 100%;
            border: none;
            outline: none;
            border-radius: 10px;
            padding: 15px 20px;
            font-size: 1rem;
            transition: all 0.3s;
        }

        .sg_container .spa {
            color: gold;
            display: block;
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }

        .sg_container br {
            margin-bottom: 9rem;
        }

        .sg_container input:focus {
            color: black;*/
/*box-shadow: 0 0 20px lightskyblue, 0 0 60px lightskyblue;*/ /*lightseagreen*/
/*box-shadow: 0 0 20px lightseagreen, 0 0 60px lightseagreen;
        }

        .sg_container select {
            width: 100%;
            border: none;
            outline: none;
            padding: 15px 20px;
            margin-bottom: 2rem;
            font-size: 1rem;
            border-radius: 3px;
            color: black;
            font-weight: 600;
        }

            .sg_container select:focus {
                box-shadow: 0 0 20px lightseagreen, 0 0 60px lightseagreen;
            }
}*/















/*========================================================*/









* {
    margin: 0;
    padding: 0;
}

.bp {
    background: url(../Img/back1.png) no-repeat;
    background-size: cover;
}

.login_header {
    position: relative;
    user-select: none;
}

    .login_header img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100vh;
    }

    .login_header div {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100vh;
    }

.login_main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(0,0,0,0.68);
    user-select: none;
}

    .login_main .sign_box {
        width: 300px;
        height: 400px;
        background: red;
    }

/*.login_main .login_box h1 {
        color: #fff;
        text-align: center;
        margin-bottom: 4rem;
    }

    .login_main .login_box .login_context {
        text-align: center;
    }

        .login_main .login_box .login_context h3 {
            color: #fff;
            font-weight: 200;
            text-align: center;
            margin-bottom: 1rem;
        }

        .login_main .login_box .login_context .sg {
            color: deeppink;
            text-decoration: none;
            padding-left: 1rem;
            font-size: 1.1rem;
        }

        .login_main .login_box .login_context .imp {
            margin: 0 auto;
            padding-left: 0.2rem;
        }

            .login_main .login_box .login_context .imp input {
                height: 50px;
                color: #fff !important;
                border: 1px solid transparent;
                background: rgba(255,255,255,.08);
                border-radius: 40px;
                transition: .2s;
                display: block;
                width: 250px;
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 1rem;
            }

                .login_main .login_box .login_context .imp input:focus {
                    outline: none;
                    box-shadow: 0 0 20px lightyellow, 0 0 60px lightyellow;
                }

                .login_main .login_box .login_context .imp input:hover {
                    background: transparent;
                    border: 1px solid rgb(190, 182, 182);
                }

                .login_main .login_box .login_context .imp input::placeholder {
                    color: rgb(201, 183, 183);
                }

        .login_main .login_box .login_context .login_bt {
            width: 300px;
            transition: .2s;
            background: #fbceb5;
            border-radius: 20px;
            margin-bottom: 0.5rem;
            outline: none;
            border: none;
            padding: 15px 20px;
            font-size: 1rem;
            font-weight: 600;
        }

            .login_main .login_box .login_context .login_bt:hover {
                box-shadow: 0 0 20px #fbceb5, 0 0 60px #fbceb5;
            }

    .login_main .login_box .radio {*/
/*display: flex;*/
/*align-items: center;
        padding-left: 0.8rem;
        padding-top: 0rem;
        display: flex;
    }

        .login_main .login_box .radio a {
            flex: 1;
            text-decoration: none;
            padding-top: 1rem;
        }

        .login_main .login_box .radio p {
            color: #fff;
        }

        .login_main .login_box .radio .fg {*/
/*padding-bottom: 18px;*/
/* padding-left: 2rem;*/
/*padding-left:10rem;*/
/*transition: all 0.3s;
            padding-left: 0.5rem;
        }

        .login_main .login_box .radio .b_h {
            padding-right: 2rem;
        }

            .login_main .login_box .radio .b_h:hover {
                color: #fbceb5;
            }

        .login_main .login_box .radio .fg:hover {
            color: #fbceb5;
        }

    .login_main .login_box .other {
        text-align: center;
    }

        .login_main .login_box .other p {
            color: #fff;
            margin-top: 1rem;
            text-align: center;
        }

        .login_main .login_box .other .icon .ic {
            padding: 10px 15px;
            width: 150px;
            border-radius: 10px;
            transition: all 0.3s;
        }

            .login_main .login_box .other .icon .ic:hover {
                background: black;
                color: white;
            }*/
