@{
	ViewData["Title"] = "ForgetPassword";
	Layout = "Login_Layout";
}

<div class="login_header">

	<div class="bp">
	</div>

</div>


<form action="~/MyHomePage/ForgetPassword" method="post">
	<div class="login_main">
		<div class="login_box">
			<h1>Forgot Password</h1>

			<div class="login_context">
				<div class="imp">
					<input type="text" placeholder="You Email" name="Email" />
				</div>
				<div class="imp">
					<input type="password" placeholder="New Password" name="p1" />
				</div>
				<button type="submit" class="login_bt" style="font-size:1rem;font-weight:600;">Confirm</button>
			</div>

			<div class="radio">
				<a asp-area="" asp-controller="MyHomePage" asp-action="Index"><p class="b_h">Back To Home</p></a>
			</div>

		</div>
	</div>
</form>

