<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/zy-media/zy.media.css" />
	@*<link rel="stylesheet" href="~/css/CommentStyle.css" />*@
	<link rel="stylesheet" href="~/css/Com_Css.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
		  integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
		  crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<body>
	<div>
		<partial name="_Notification" />
		@RenderBody()
	</div>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/zy-media/zy.media.js"></script>
	<script src="~/JQuery/jquery-3.6.0.js"></script>

</body>
</html>
