<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
	<link rel="stylesheet" href="~/css/LoginStyle.css" />

</head>
<body>
	<div>
		<partial name="_Notification" />
		@RenderBody()
	</div>
</body>
</html>
